@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {

    --cor-principal: #ffffff;
    --cor-secundaria: #5c1cc2;
    --cor-destaque: #C92BFC;
    --cor-fundoclaro: #000000;
}

body {
    background: var(--cor-fundoclaro);
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
    color: var(--cor-destaque);
}

h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}

.lead, .btn-link {
    color: var(--cor-destaque);
    font-weight: 700;
}

a, .btn-link:hover {
    color: var(--cor-secundaria)
}

a:hover{
    color: var(--cor-destaque);
}

